timestamp=10/11/2014 1:46:36 AM
version=1
assembly=311b16dc-2fec-4b2e-8754-53799d4fadfb;N2, Version=2.6.3.5, Culture=neutral, PublicKeyToken=null
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.LinqNHQueryFacade
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.ApplicationCache`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.SessionCache`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlRepository`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlContentRepository
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlFileSystem
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlInstallationManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.LinqXmlQueryFacade
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlSanitizer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.TemplateAggregator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContentHandler
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContextBuilder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContextHandler
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.InterfaceBuilder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.InMemoryProfileRepository
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ProfileHandler
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.SlugGenerator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Logger`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.ItemHtmlWriter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.ItemHtmlReader
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentIndexer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.BackwardsCompatibleSearcher
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingContentSearcher
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.DefaultExceptionFilter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Slug
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Authenticated
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Anonymous
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Manager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.MobileDevice
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.TargetingRadar
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.NHInstallationManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.ContentItem;N2.ContentItem
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.ContentItem;N2.Persistence.Xml.UnresolvedRelation
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.ContentItem;N2.Edit.CreatorItem
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
311b16dc-2fec-4b2e-8754-53799d4fadfb=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
311b16dc-2fec-4b2e-8754-53799d4fadfb=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=193c90ab-4c4a-485f-a7e2-b7d436f849ae;N2.Extensions, Version=2.6.3.5, Culture=neutral, PublicKeyToken=null
193c90ab-4c4a-485f-a7e2-b7d436f849ae=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
193c90ab-4c4a-485f-a7e2-b7d436f849ae=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
193c90ab-4c4a-485f-a7e2-b7d436f849ae=N2.ContentItem;none
193c90ab-4c4a-485f-a7e2-b7d436f849ae=N2.Plugin.IPluginInitializer;none
193c90ab-4c4a-485f-a7e2-b7d436f849ae=System.Web.Mvc.IController;none
193c90ab-4c4a-485f-a7e2-b7d436f849ae=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.MvcAdapter
193c90ab-4c4a-485f-a7e2-b7d436f849ae=System.Object[N2.Plugin.IPlugin];none
assembly=74dbd863-e811-4c48-a250-0a78f7a61860;N2.Management, Version=2.6.3.5, Culture=neutral, PublicKeyToken=null
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];Management.N2.Content.LinkTracker.UpdateImagesMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildGroupSource
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Trash.AsyncTrashPurger
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystem.Pages.ImageSizeCache
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UpdateFilePrefixMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.ConvertEnumsMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixZoneNamePartsMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Installation.Migrations.RebuildImageSizesMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Installation.Migrations.RecordedAssemblyVersionMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Security.ContentProfileRepository
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Security.MembershipAccountManager
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Security.MembershipAccountResources
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Resources.IconHandler
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Content.Navigation.ChildGroupContainer
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Externals.ExternalItem
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Edit.FileSystem.Items.File
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.ManagementItem
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Security.Items.UserExternalLoginInfo
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Security.Items.User
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Security.Items.UserList
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Myself.RootPartBase
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Myself.ActivityPart
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Myself.LanguagesPart
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Myself.RootBase
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Myself.StatisticsPart
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Management.Myself.WizardsPart
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
74dbd863-e811-4c48-a250-0a78f7a61860=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
74dbd863-e811-4c48-a250-0a78f7a61860=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
74dbd863-e811-4c48-a250-0a78f7a61860=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
74dbd863-e811-4c48-a250-0a78f7a61860=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
74dbd863-e811-4c48-a250-0a78f7a61860=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Files.FileSystem.Pages.FileSystemNodeAdapter
74dbd863-e811-4c48-a250-0a78f7a61860=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Management.ManagementItemsNodeAdapter
74dbd863-e811-4c48-a250-0a78f7a61860=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Activity.RecentActivity
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.ListRoles
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.New
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
74dbd863-e811-4c48-a250-0a78f7a61860=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
assembly=b553e221-00df-460e-a893-a1a619470aed;N2.Razor, Version=2.6.3.5, Culture=neutral, PublicKeyToken=null
b553e221-00df-460e-a893-a1a619470aed=System.Object[N2.Engine.ServiceAttribute];none
b553e221-00df-460e-a893-a1a619470aed=N2.ContentItem;none
b553e221-00df-460e-a893-a1a619470aed=N2.Plugin.IPluginInitializer;none
b553e221-00df-460e-a893-a1a619470aed=System.Web.Mvc.IController;none
b553e221-00df-460e-a893-a1a619470aed=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
b553e221-00df-460e-a893-a1a619470aed=System.Object[N2.Plugin.IPlugin];none
assembly=710956b6-c2e4-412f-ac63-5b5ec2455a28;N2.ReusableParts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
710956b6-c2e4-412f-ac63-5b5ec2455a28=System.Object[N2.Engine.ServiceAttribute];none
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.ContentListContainerLink
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.ContentList
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.ReusableParts.HtmlAnchor
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.MenuPartBase
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.MenuPart
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.RawHtml
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.ResponsiveMenuPart
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.Slideshow
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.SlideshowDirectoryInclude
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.ContentItem;N2.Web.SlideshowFileInclude
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.Plugin.IPluginInitializer;none
710956b6-c2e4-412f-ac63-5b5ec2455a28=System.Web.Mvc.IController;none
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.ContentListAdapter
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.ReusableParts.HtmlAnchorAdapter
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.MenuPartMvcAdapter
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RawHtmlAdapter
710956b6-c2e4-412f-ac63-5b5ec2455a28=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.ResponsiveMenuPartMvcAdapter
710956b6-c2e4-412f-ac63-5b5ec2455a28=System.Object[N2.Plugin.IPlugin];none
assembly=af4a5c12-822e-43e0-84c3-3e4302ff8168;N2.Search.Lucene, Version=2.6.2.2, Culture=neutral, PublicKeyToken=null
af4a5c12-822e-43e0-84c3-3e4302ff8168=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneLightweightSearcher
af4a5c12-822e-43e0-84c3-3e4302ff8168=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
af4a5c12-822e-43e0-84c3-3e4302ff8168=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
af4a5c12-822e-43e0-84c3-3e4302ff8168=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneContentSearcher
af4a5c12-822e-43e0-84c3-3e4302ff8168=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
af4a5c12-822e-43e0-84c3-3e4302ff8168=N2.ContentItem;none
af4a5c12-822e-43e0-84c3-3e4302ff8168=N2.Plugin.IPluginInitializer;none
af4a5c12-822e-43e0-84c3-3e4302ff8168=System.Web.Mvc.IController;none
af4a5c12-822e-43e0-84c3-3e4302ff8168=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
af4a5c12-822e-43e0-84c3-3e4302ff8168=System.Object[N2.Plugin.IPlugin];none
assembly=f56cd947-8c4f-4af5-b969-0acd1916ec82;n2cms_www, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.AccountMembershipService
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.FormsAuthenticationService
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.FreeFormRegistration
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.PermissionDeniedHandler
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Object[N2.Engine.ServiceAttribute];Dinamico.Dinamico.Registrations.StartPageRegistration
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.ContentItem;Dinamico.Models.PageModelBase
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.ContentItem;Dinamico.Models.ContentPage
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.ContentItem;Dinamico.Models.PartModelBase
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.ContentItem;Dinamico.Models.ContentPart
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.ContentItem;Dinamico.Models.FreeForm
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.ContentItem;Dinamico.Models.LanguageIntersection
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.ContentItem;Dinamico.Models.StartPage
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.Plugin.IPluginInitializer;n2cms_www.App_Start.CmsConfig
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.Plugin.IPluginInitializer;Dinamico.GlobalMvcStarter
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.ContentPagesController
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.ContentPartsController
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.SlideshowController
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.FallbackController
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.FreeFormController
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.LanguageIntersectionController
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.MembershipController
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.StartPageController
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Web.Mvc.IController;Dinamico.Controllers.TestController
f56cd947-8c4f-4af5-b969-0acd1916ec82=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];Dinamico.Registrations.RecursiveZonesAdapter
f56cd947-8c4f-4af5-b969-0acd1916ec82=System.Object[N2.Plugin.IPlugin];none
