<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.3" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="log4net" version="1.2.10" />
  <package id="Lucene" version="2.9.2.2" />
  <package id="N2CMS" version="2.3.0.1" />
  <package id="N2CMS.Dinamico" version="2.3" />
  <package id="N2CMS.Library" version="2.3.0.1" />
  <package id="N2CMS.Razor" version="2.3" />
  <package id="N2CMS.SQLite.x86" version="2.3" />
  <package id="NHibernate" version="3.3.0.4000" />
  <package id="System.Data.SQLite" version="1.0.81.0" />
</packages>