<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true" />
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true" />
		</sectionGroup>
	</configSections>
  
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      
    <expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2" />
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2" />
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2" />
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2" />
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2" />
			</expressionBuilders></compilation>
    <authentication mode="Forms">
      <forms loginUrl="N2/Login.aspx" timeout="2880">
        <credentials passwordFormat="Clear">
          <user name="admin" password="changeme" />
        </credentials>
      </forms>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        
        
      <add namespace="N2.Linq" /><add namespace="N2.Web.Mvc.Html" /></namespaces>
      
      
    <controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
			</controls><tagMapping>
				<add tagType="System.Web.UI.HtmlControls.HtmlForm" mappedTagType="N2.Web.UI.WebControls.RawUrlForm" />
			</tagMapping></pages>
    <!-- 
    These membership and role providers store their data as content items. You can also use the forms authentication 
    credentials only (then remove these sections) or the default ASP.NET providers (search for asp.net membership) 
    -->
    <!-- 
		These membership and role providers store their data as content items. You can also use the forms authentication 
		credentials only (then remove these sections) or the default ASP.NET providers (search for asp.net membership) 
		--><membership defaultProvider="ContentMembershipProvider">
      
    <providers>
        <add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Management" passwordFormat="Hashed" />
      </providers></membership>
    <roleManager enabled="true" defaultProvider="ContentRoleProvider">
      
    <providers>
        <add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
      </providers></roleManager>
    <profile defaultProvider="ContentProfileProvider">
      
    <providers>
        <add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Management" />
      </providers></profile>
    <siteMap defaultProvider="PublicSiteMap">
      
    <providers>
        <add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true" />
      </providers></siteMap>
    
    <httpRuntime requestValidationMode="2.0" />
  <httpModules>
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</httpModules></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<edit>
			<!-- Set checkInstallationStatus to false to disable redirect to install page -->
			<installer allowInstallation="true" checkInstallationStatus="false" />
			<writers dynamic="true" />
			<editors dynamic="true" />
			<administrators dynamic="true" />
			<images>
				<sizes>
					<add name="thumb" width="50" height="50" mode="Fill" />
					<add name="cube" width="150" height="150" mode="Fill" />
					<add name="wide" width="960" height="480" mode="Fill" />
					<add name="half" width="450" height="300" mode="Fill" />
					<add name="third" width="300" height="200" mode="Fill" />
				</sizes>
			</images>
		</edit>
		<!-- If you install a database from scratch you'll need to insert some required pages. 
			This can be done by the web based installer located at http://yoursite/n2/installation/ -->
		<engine>
			<!-- Update email to receive error reports -->
			<errors action="Email" mailTo="bherila@bherila.net" mailFrom="bherila@bherila.net" />
			<!-- Globalization requires you to create additional start pages with a language -->
			<globalization enabled="true" />
		</engine>
		<database flavour="Xml"></database>
	</n2>
	<system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
  <modules runAllManagedModulesForAllRequests="true">
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</modules></system.webServer>
	<connectionStrings>
		<!-- Some connection string examples:
		SQLite:           <add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite" />
		SQL Server 2005:  <add name="N2CMS" connectionString="Server=(local);Database=N2_Templates;Integrated Security=SSPI"/>
		SQL Express 2005: <add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		SQL Server 2000:  <add name="N2CMS" connectionString="Data Source=SQLServer2000;Database=SQLDatabase2000;User Id=SqlUser2000;Password=SqlPassword2000;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient"/>
		MySQL:            <add name="N2CMS" connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" providerName="MySql.Data.MySqlClient"/>
		SQL Compact 4:    <add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2cms.sdf" providerName="System.Data.SqlServerCe.SqlCeEngine, System.Data.SqlServerCe"/>
		-->
	</connectionStrings>
</configuration>